name: Update OHA Data
on:
  workflow_dispatch: # Erlaubt den manuellen Start via Button
  schedule:
    - cron: '0 */6 * * *' # Automatisches Update alle 6 Stunden

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download
        run: curl -L "http://oha.to/mediaurl-catalog.json" -o cache_oha.json
      - name: Commit
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add cache_oha.json
          git commit -m "Update OHA" || exit 0
          git push
