name: Vavoo M3U & JSON Export

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run-export:
    runs-on: ubuntu-latest
    # Berechtigungen explizit für den Push setzen
    permissions:
      contents: write

    steps:
      - name: Code auschecken
        uses: actions/checkout@v4

      - name: Python einrichten
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Abhängigkeiten installieren
        run: pip install requests

      - name: Export ausführen
        run: python export_script.py

      - name: Änderungen pushen
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          # Alle erstellten Dateien (m3u und json) hinzufügen
          git add vavoo_channels.m3u vavoo_full_export.json
          git commit -m "Update Playlist & Data: $(date +'%d-%m-%Y %H:%M')" || echo "Keine Änderungen gefunden"
          git push
